config.py
__pycache__
.python-version
.idea
.vscode
.env
firebase_config.json
.DS_Store
.json
cogs/Assets/afk_mention_list_messages/
cogs/Assets/welcome/images/welcome_image/output/
images/generated/
.log
