dockerfile
config.py
__pycache__
.python-version
.idea
.vscode
dockerfile
.env
/venv
firebase_config.json
.DS_Store
.json
cogs/Assets/afk_mention_list_messages/
cogs/Assets/welcome/images/welcome_image/output/
images/generated/
.log
logs/*
